{% extends "layout.html" %}

{% set active_page = 'new' %}

{% block title %}{{ _("New post") }}{% endblock %}
{% block headers %}
<script src="{{ url_for('static', filename='js/jquery-1.9.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script type="text/javascript">
//<![CDATA[
$(function() {
	$("form.compose").submit(function() {
	var required = ["text", "tags"];
	var form = $(this).get(0);
	for (var i = 0; i < required.length; i++) {
		if (!form[required[i]].value) {
			$(form[required[i]]).select();
			return false;
		};
	};
	return true;
	});
	$(".audio").click(function() { surroundSelection($("textarea").get(0),
	'<audio src=', ' controls>'+
		'Ваш браузер протух.'+
	'</audio>'
	); });
});
//]]>
</script>
{% endblock %}

{% block body %}
<section class="posts">
<div class="editor">
	<a class="edit bolder">Жирный</a>
	<a class="edit audio">Аудио</a>
	<form class="upload" method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data">
		<input type="file" name="file">
		<input calss="btn" type="submit" value="Загрузить">
	</form>
</div>
<form class="reply new" method="post" class="compose">
{{ form.hidden_tag() }}
{{ form.text(placeholder=_("Message"), rows=20) }}
	<div class="row">
		{{ form.tags(placeholder=_("Tags")) }}
		<input class="btn" type="submit" value="{{ _('Save') }}"/>
	</div>
</form>
<a class="alert success" href="http://docutils.sourceforge.net/docs/user/rst/quickref.html">{{ _("Syntax documentation") }}</a>
</section>
{% include "syntax.html" %}
{% endblock %}