{% extends "layout.html" %}

{% set active_page = 'new' %}

{% block title %}{{ _("New post") }}{% endblock %}
{% block headers %}
<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

{% block body %}
<section class="posts">
<div class="editor">
	<form class="upload" method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data">
		<input type="file" name="file">
		<input calss="btn" type="submit" value="Загрузить">
	</form>
</div>
<form class="reply new" method="post" class="compose">
{{ form.hidden_tag() }}
{{ form.text(placeholder=_("Message"), rows=20) }}
	<div class="row">
		{{ form.tags(placeholder=_("Tags")) }}
		<input class="btn" type="submit" value="{{ _('Save') }}"/>
	</div>
</form>
<a class="alert success" href="http://docutils.sourceforge.net/docs/user/rst/quickref.html">{{ _("Syntax documentation") }}</a>
</section>
{% include "syntax.html" %}
{% endblock %}