<aside>
<div class="syntax">
	<ul id="tabs">
		<li><a href="#" name="#tab1">Синтаксис</a></li>
		<li><a href="#" name="#tab2">Таблицы</a></li>
		<li><a href="#" name="#tab3">Изображения</a></li>    
	</ul>
	<div id="content">
		<div id="tab1">
			<pre>
==================
Название документа
==================

Заголовок
---------

Какой-нибудь простой текст

*текст курсивом*

**текст жирным шрифтом**

* список1
* список2

1. нумерованный список1
2. нумерованный список2

.. figure:: http://nya.sh/top/top25.png

.. _ссылка: http://nya.sh/pics
			</pre>
		</div>
		<div id="tab2">
			<pre>
+-----------+-----------+-----------+
|Заголовок 1|Заголовок 2|Заголовок 3|
+===========+===========+===========+
| строка 1  | колонка 2 | колонка 3 |
+-----------+-----------+-----------+
| строка 2  |    двойная ячейка.    |
+-----------+-----------+-----------+
| строка 3  |  и снова  | - яблоко  |
+-----------+  двойная. | - банан   |
|  строка 4 |           | - груша   |
+-----------+-----------+-----------+

=====  =====  ======
  Вход     Выход
------------  ------
  A      B    A или B
=====  =====  ======
нет     нет     нет
да      нет     да
нет     да      да
да      да      да
=====  =====  ======
			</pre>
		</div>
		<div id="tab3">
			<pre>
Просто изображение:
.. image:: http://image


Изображение с доп. параметрами:
.. image:: http://image
   :height: 200
   :width: 150
   :alt: блаблабла


Оригинал по клику
.. image:: http://preview
 :target: http://image
			</pre>
		</div>
	</div>
</div>
</aside>